---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro"
const {title} = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <div class="container">
        <Navbar/>
        <slot/>
        <Footer />
    </div>
</body>
</html>
<style>
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: bisque;
        min-height: 100vh;
        margin: 0 auto;
        width: 80%;
        max-width: 1200px;
    }
</style>